<!doctype html>
<html>
<head>    
</head>

<body>
	GLaTeX Privacy Policy
	<br><br>
	GLaTeX is a non-profit project. We are very strict on our privacy policy and never use user data for any other purposes.
	<br>
	1. GLaTeX does not sell in-app products nor advertise to its users.
	<br>
	2. GLaTeX is completely and will always be free.
	<br>
	3. GLaTeX does not collect nor store any personal information permanently about the user, his/her Google Documents, or his/her Google Drive. Any data that is downloaded to the server for server-side compilation is deleted once a week.
	<br>
	4. GLaTeX does not communicate with the user unless he/she has submitted an issue.
	<br>
	Source code of GLaTeX will be shared on GitHub and it will be publicly available in June 2020.
</body>

</html>
