<!doctype html>
<html>
<head>    
</head>

<body>
	GLaTeX Terms of Service
	<br><br>
	GLaTeX is a free GoogleDocs Add-on. It was created by four senior computer engineering students from the Middle East Technical University, Ankara, Turkey.
	<br>
	1. GLaTeX is offered as a free tool. Developers are senior computer engineering students; however, we plan to continue supporting the tool after our graduation. Please keep your requests as specific as possible. Reporting through the help button in the sidebar is the best way to request technical support.
	<br>
	2.The tool requires three authorization scopes to operate in full capacity:
		(i) Read Only permission for user's drive files: This is essential for the compilation of LaTeX files. If the Google Docs file is contained in the "My Drive" folder of the user, then only content of the current file is downloaded for compilation. If the Google Docs file is contained in a folder that is created by the user, then the whole folder is downloaded for compilation with images and/or other LateX files.
		(ii) Documents permission: This is essential for page setup for proper font size and type, syntax highlighting, position matching between the LaTeX source and the compiled pdf, inserting special LaTeX symbols requested by the user, and inserting LaTeX environments requested by the user.
		(iii) Script Container UI permission: This is essential for creating a sidebar containing compiled PDF files.
	<br>
	4. Users can also use GLaTeX Chrome Extension (link) for resizing the sidebar, theme selection, and local compilation. When local compilation is enabled, user data is not transferred to our server, i.e., user data is kept in the user's local machine. If the user prefers server compilation, then we keep user data for only a week and then delete. 
	<br>
	5. Under any condition, user data is not shared with anyone. 
	<br>
	6. Under any condition, we do not use user data for any other purpose than compilation.
	<br>
	7. Any user data downloaded to the server for compilation purposes is deleted once a week and never used unless the user presses the compilation button.
	<br>
	8. No guarantee is made for the maintenance and reliability of the service.

</body>

</html>




